body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
}

.intro-section {
    background-color: #f0f4ff;
    padding: 30px 0;
}

.blue-title {
    color: #007bff;
    margin-bottom: 5px;
}

.italic-blue {
    color: #4a76d1;
    font-style: italic;
    margin-top: 0;
}

.main-img {
    width: 400px;
    margin-top: 20px;
}


.branch-section {
    padding: 30px 0;
    background-color: white;
}


.red-text {
    color: red;
}

.italic-text {
    font-style: italic;
}

.underline-text {
    text-decoration: underline;
}

.bold-text {
    font-weight: bold;
}